<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <link rel="shortcut icon" href="http://localhost:8080/images/favicon.png" type="image/x-icon" width="16" height="16">
      <!-- site metas -->
      <title>sungla</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="http://localhost:8080/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="http://localhost:8080/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="http://localhost:8080/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="http://localhost:8080/images/fevicon.png" type="image/gif"/>
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="http://localhost:8080/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   </head>
   <!-- body -->
   <body class="main-layout position_head">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="http://localhost:8080/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
<!--                     <div class="full">-->
<!--                        <div class="center-desk">-->
<!--                           <div class="logo">-->
<!--                              <a href="index.html"><img src="http://localhost:8080/images/logo.png" alt="#" /></a>-->
<!--                           </div>-->
<!--                        </div>-->
<!--                     </div>-->
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
<!--                              <li class="nav-item">-->
<!--                                 <a class="nav-link" href="http://localhost:8080/indexController/index" target="_blank">Home</a>-->
<!--                              </li>-->
                              <li class="nav-item">
                                 <a class="nav-link" href="http://localhost:8080/aboutController/about" target="_blank">About</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="http://localhost:8080/glassesController/glasses" target="_blank">Our Glasses</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="http://localhost:8080/shopController/shop" target="_blank">Shop</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="http://localhost:8080/contactController/contactGet" target="_blank">Contact Us</a>
                              </li>
                              <li class="nav-item d_none login_btn active">
                                 <a class="nav-link" href="http://localhost:8080/login" target="_blank">Login</a>
                              </li>
                              <li class="nav-item d_none cart">
                                 <a class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- Our  Glasses section -->
      <div class="glasses">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2 style="color: #bd081d">Our Glasses</h2>
                     <p style="color: #1c7430">When it comes to style, our collection of men's eyeglasses doesn’t hold back.
                        We have hundreds of glasses frames for men, ranging from minimalistic metal frames to always-on-trend trapezoid looks, and (you guessed it) everything in between.
                        Find stylish prescription eyeglasses for men in metal, titanium, plastic, and wood in a variety of colors, shapes, and sizes.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid card-container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box" th:each="d:${customers}">
                     <div >
                        <figure><img th:src="${d.image}" alt="#"/></figure>
                        <h3 th:text="${d.price} + ${d.currency}"></h3>
                        <p th:text="${d.name}"/>
                        <button class="cart-button" >Add to cart</button> <br><br>
                        <button style="background: #bd081d"><a th:href="${'http://localhost:8080/glassesController/' + d.id}">Detail</a></button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <article  class="select">
         <section class="section">
<!--            <h1>Total amount:</h1>-->
            <p class="total"></p>
            <button style="background: #bd081d"><a href="http://localhost:8080/glassesController/glasses">Buy</a></button>
         </section>
      </article>
      <!-- end Our  Glasses section -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Location</li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br> +994 70-567-54-13 </li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> eltajagayev13@gmail.com </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2023 All Rights Reserved. Design by Eltaj Agazadeh</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="http://localhost:8080/js/script.js"></script>
      <script src="http://localhost:8080/js/jquery.min.js"></script>
      <script src="http://localhost:8080/js/popper.min.js"></script>
      <script src="http://localhost:8080/js/bootstrap.bundle.min.js"></script>
      <script src="http://localhost:8080/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="http://localhost:8080/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="http://localhost:8080/js/custom.js"></script>
   </body>
</html>